---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
  <p>
    Hi there. I'm a PhD Candidate @ <a href="//rombolabs.github.io">Rombolabs</a>, <a href="//uw.edu" style="color:#4b2e83;">University of Washington</a>
    <br>
    I'm interested in the intersection of virtual reality, soft robotics, haptics!
    <br><br>
    I also like to make hardware and write software to make things work together!
  </p>
  <p>
    <a href="mailto:prnthp@uw.edu">📧 prnthp@uw.edu</a>
    <br>
    <br>
    <a href="//github.com/prnthp/">🐙 GitHub</a>
    <br>
    <a href="//linkedin.com/in/pornthep/">🔗 LinkedIn</a>
    <br>
    <a href="//fb.me/mrjom/">📘 Facebook</a>
    <br>
    <a href="//github.com/prnthp/experiment-structures">🧱 Bricklayer - Experiment Structures for User Studies in Unity</a>
    <br>
    <a href="//tinyurl.com/sexymatlabplots">📈 How to make nice vector MATLAB figures for publications</a>
    <br>
    <!-- <a href="//www.youtube.com/watch?v=vynJpu8YM9A">🖨How to fix your laser printer not feeding properly</a>
    <br> -->
    <br>
    <a href="/media/Jom Resume.pdf">📄 Resume (PDF)</a>
    <br>
    <a href="/projects/">🧰 Projects</a>
    <br>
    <a href="/publications/">📚 Publications</a>
    <br>
    <a href="/tools/">🔧 Tools</a>
    <br>
    <a href="/about/">👋 About</a>
  </p>
  {% capture content %}{% include content.md %}{% endcapture %}
  {{ content | markdownify }}
</header>
